
#footer{
    text-align: center;
    font-size: 1.5em;
    height:70px;
    /*background-color: rgba(98, 98, 98, 0.69);*/
}
.bg-5{
    background-color: #33cc99;
    color: #ffffff;
}
a{
    text-decoration: none;
    /*text-decoration-color: ;*/
}
#menuBar{
    /*background-color: rgb(97, 151, 255)*/
}
#menuBar ul{
    list-style:none;
}
#menuBar ul li{
    display:inline-block;
    /*background-color: rgb(241, 2, 255);*/
    padding:10px;


}
#menuBar li:hover{
    /*background-color: rgb(90, 104, 201);*/
    /*background-color: rgb(255,255,255);*/
    border-bottom: solid;
    border-width:3px;
    border-color:rgb(255,255,255);
}
#menuBar a {
    color: white;
    font-size: 1.3em;
}
#menu ul li {
    list-style-type: none;
    border-width: 1px;
    border-bottom: solid darkgray;
    padding:10px 10px 10px 10px;
    margin:5px 5px 5px 5px;
    font-size: 1.3em;
}
#menu ul li a{
    color: rgb(133, 96, 22);
}
#menu ul li a:hover{
    color: rgb(205, 121, 34);
    /*font-size: 1.4em;*/
    text-decoration: none;
}
#menu ul li::before{
    content:":: ";
}
.circle{
    border-radius:50%;
}
#containtext h3{
    font-size: 0.8em;
}
.container-fluid{
    max-width: 1000px;
    /*padding: 0px;*/
}
body{
    font-family: 'cwTeXYen', sans-serif;
    background-color: rgba(98, 98, 98, 0.69);
}
.padnull{
    padding:0;
}
.fusion-meta-info{
    /*clear:both;*/
    /*overflow:hidden;*/
    /*margin-top:20px;*/
    /*padding:5px 0;*/
    border-top:1px solid #e7e6e6;
    border-bottom:1px solid #e7e6e6;
    /*font-size:12px*/
}
#labStyle{
    font-size: 1.3em;
}
.borderStyle{
    border-bottom: solid;
    border-width:2px;
    border-color:rgb(147,147,147);
}